:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
body {
  font-family: "Open Sans", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb::hover {
  background-color: var(--blue-alt-color);
}
.page {
  background-color: #f1f5f9;
  .sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
    @media (max-width: 767px) {
      width: 62px;
      padding: 10px;
    }
    > h3 {
      &::before {
        content: "";
        position: absolute;
        background-color: black;
        bottom: -20px;
        width: 80px;
        height: 2px;
        transform: translateX(-50%);
        left: 50%;
      }
      &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: black;
        border: 4px solid white;
        border-radius: 50%;
        bottom: -29px;
        left: 50%;
        transform: translateX(-50%);
      }
      @media (max-width: 767px) {
        font-size: 13px !important;
        margin-bottom: 15px !important;
        &::before,
        &::after {
          display: none;
        }
      }
    }
    ul {
      li {
        a {
          transition: 0.3s;
          margin-bottom: 5px;
          &:hover,
          &.active {
            background-color: #f6f6f6 !important;
          }
        }
        span {
          font-size: 14px;
          margin-left: 10px;
          @media (max-width: 767px) {
            display: none;
          }
        }
      }
    }
  }
  .content {
    overflow: hidden;
    .head {
      .search {
        position: relative;
        &::before {
          font-family: var(--fa-style-family-classic);
          content: "\f002";
          font-weight: 900;
          position: absolute;
          left: 15px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 14px;
          color: var(--grey-color);
        }
        input[type="search"] {
          border: 1px solid #ccc;
          width: 170px;
          transition: width 0.3s;
          padding-left: 30px;
          &:focus {
            width: 220px;
            outline: #888;
            &::placeholder {
              opacity: 0;
            }
          }
        }
      }
      .icons {
        .notifications {
          &::before {
            content: "";
            position: absolute;
            background-color: var(--red-color);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            right: -5px;
            top: -5px;
          }
        }
        img {
          width: 32px;
          height: 32px;
          margin-left: 15px;
        }
      }
    }
    h1 {
      margin: 20px 20px 40px;
      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 3px;
        bottom: -10px;
        left: 0;
      }
      &::before {
        background-color: white;
        width: 120px;
      }
      &::after {
        background-color: black;
        width: 50px;
      }
    }
    .wrapper {
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
      @media (max-width: 767px) {
        grid-template-columns: minmax(200px, 1fr);
      }
      .welcome {
        .intro {
          background-color: #eee;
          img {
            width: 200px;
            margin-bottom: -10px;
          }
        }
        .avatar {
          width: 64px;
          height: 64px;
          border: 2px solid white;
          border-radius: 50%;
          padding: 2px;
          box-shadow: 0 0 5px #ddd;
          margin-left: 20px;
          margin-top: -32px;
        }
        .info {
          border-top: 1px solid #eee;
          border-bottom: 1px solid #eee;
          > div {
            flex: 1;
            &:not(:last-child) {
              @media (max-width: 767px) {
                margin-bottom: 20px;
              }
            }
          }
        }
        .visit {
          width: fit-content;
          margin: 0 15px 15px auto;
          transition: 0.3s;
          &::hover {
            background-color: var(--blue-alt-color);
          }
        }
      }
      .quick-draft {
        form {
          input[type="text"]:focus {
            box-shadow: none;
          }
          textarea:focus {
            box-shadow: none;
          }
          textarea {
            resize: none;
            min-height: 200px;
          }
          input[type="submit"] {
            width: fit-content;
          }
        }
      }
      .targets {
        .target-box {
          .icon {
            width: 80px;
            height: 80px;
            margin-left: 15px;
          }
        }
        .target-info {
          .progress {
            height: 10px;
          }
        }
      }
      .tickets-widget {
        .box {
          border: 1px solid #ccc;
          text-align: center;
        }
      }
      .latest-news {
        .news {
          img {
            width: 100px;
          }
          &:not(:last-of-type) {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #eee;
          }
        }
      }
      .latest-tasks {
        .tasks {
          .task:not(:last-of-type) {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #eee;
          }
          .task.done {
            opacity: 0.3;
            p,
            span {
              text-decoration: line-through;
            }
          }
        }
      }
      .latest-uploads {
        .item-upload:not(:last-of-type) {
          margin-bottom: 15px;
          padding-bottom: 15px;
          border-bottom: 1px solid #eee;
        }
      }
      .last-project {
        ul {
          &::before {
            content: "";
            position: absolute;
            width: 2px;
            height: 100%;
            left: 10px;
            background-color: var(--blue-color);
          }
          li {
            margin-top: 20px;
            position: relative;
            display: flex;
            align-items: center;
            &::before {
              content: "";
              position: absolute;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background-color: var(--blue-color);
              border: 1px solid white;
              outline: 1px solid var(--blue-color);
              display: block;
              margin-right: 15px;
            }
          }
        }
      }
      .reminders {
        ul {
          li {
            position: relative;
            margin-left: 20px;
            p {
              font-size: 14px;
            }
            span {
              font-size: 12px;
            }
            &::before {
              content: "";
              position: absolute;
              left: -25px;
              width: 15px;
              height: 15px;
              border-radius: 50%;
              transform: translateY(-50%);
              top: 50%;
            }
            &:nth-child(1) {
              &::before {
                background-color: var(--blue-color);
              }
            }
            &:nth-child(2) {
              &::before {
                background-color: var(--green-color);
              }
            }
            &:nth-child(3) {
              &::before {
                background-color: var(--orange-color);
              }
            }
            &:nth-child(4) {
              &::before {
                background-color: var(--red-color);
              }
            }
          }
        }
      }
      .social {
        .box {
          padding: 16px 16px 16px 70px;
          &:not(:last-of-type) {
            margin-bottom: 10px;
          }
          i,
          svg {
            width: 42px;
            height: 100%;
            padding: 0 5px;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            transition: 0.3s;
            &:hover {
              transform: rotate(7deg);
            }
          }
          &.twitter {
            background-color: rgb(29 161 242 / 20%);
            color: #1da1f2;
            i,
            svg,
            a {
              background-color: #1da1f2;
            }
          }
          &.facebook {
            background-color: rgb(24 119 242 / 20%);
            color: #1da1f2;
            i,
            svg,
            a {
              background-color: #1da1f2;
            }
          }
          &.youtube {
            background-color: rgb(225 0 0 / 20%);
            color: #ff0000;
            i,
            svg,
            a {
              background-color: #ff0000;
            }
          }
          &.linkedin {
            background-color: rgb(0 119 181 / 20%);
            color: #0077b5;
            i,
            svg,
            a {
              background-color: #0075b5;
            }
          }
          span {
            font-size: 14px;
          }
          a {
            border-radius: 5px;
            font-size: 12px;
            padding: 2px 4px;
          }
        }
      }
    }
    .projects {
      table {
        td {
          padding: 15px;
        }
        thead {
          td {
            background-color: #eee;
            font-weight: bold;
          }
        }
        tbody {
          td {
            border-bottom: 1px solid #eee;
            border-left: 1px solid #eee;
            transition: 0.3s;
          }
        }
        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          padding: 2px;
          background-color: white;
          &:not(:first-of-type){
            margin-left: -20px;
          }
        }
      }
    }
  }
}
