:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}

body {
  font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb::hover {
  background-color: var(--blue-alt-color);
}

.page {
  background-color: #f1f5f9;
}
.page .sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
@media (max-width: 767px) {
  .page .sidebar {
    width: 62px;
    padding: 10px;
  }
}
.page .sidebar > h3::before {
  content: "";
  position: absolute;
  background-color: black;
  bottom: -20px;
  width: 80px;
  height: 2px;
  transform: translateX(-50%);
  left: 50%;
}
.page .sidebar > h3::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  border: 4px solid white;
  border-radius: 50%;
  bottom: -29px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 767px) {
  .page .sidebar > h3 {
    font-size: 13px !important;
    margin-bottom: 15px !important;
  }
  .page .sidebar > h3::before, .page .sidebar > h3::after {
    display: none;
  }
}
.page .sidebar ul li a {
  transition: 0.3s;
  margin-bottom: 5px;
}
.page .sidebar ul li a:hover, .page .sidebar ul li a.active {
  background-color: #f6f6f6 !important;
}
.page .sidebar ul li span {
  font-size: 14px;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .page .sidebar ul li span {
    display: none;
  }
}
.page .content {
  overflow: hidden;
}
.page .content .head .search {
  position: relative;
}
.page .content .head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
}
.page .content .head .search input[type=search] {
  border: 1px solid #ccc;
  width: 170px;
  transition: width 0.3s;
  padding-left: 30px;
}
.page .content .head .search input[type=search]:focus {
  width: 220px;
  outline: #888;
}
.page .content .head .search input[type=search]:focus::-moz-placeholder {
  opacity: 0;
}
.page .content .head .search input[type=search]:focus:-ms-input-placeholder {
  opacity: 0;
}
.page .content .head .search input[type=search]:focus::placeholder {
  opacity: 0;
}
.page .content .head .icons .notifications::before {
  content: "";
  position: absolute;
  background-color: var(--red-color);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  right: -5px;
  top: -5px;
}
.page .content .head .icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
}
.page .content h1 {
  margin: 20px 20px 40px;
}
.page .content h1::before, .page .content h1::after {
  content: "";
  position: absolute;
  height: 3px;
  bottom: -10px;
  left: 0;
}
.page .content h1::before {
  background-color: white;
  width: 120px;
}
.page .content h1::after {
  background-color: black;
  width: 50px;
}
.page .content .wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
@media (max-width: 767px) {
  .page .content .wrapper {
    grid-template-columns: minmax(200px, 1fr);
  }
}
.page .content .wrapper .welcome .intro {
  background-color: #eee;
}
.page .content .wrapper .welcome .intro img {
  width: 200px;
  margin-bottom: -10px;
}
.page .content .wrapper .welcome .avatar {
  width: 64px;
  height: 64px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
  box-shadow: 0 0 5px #ddd;
  margin-left: 20px;
  margin-top: -32px;
}
.page .content .wrapper .welcome .info {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.page .content .wrapper .welcome .info > div {
  flex: 1;
}
@media (max-width: 767px) {
  .page .content .wrapper .welcome .info > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
.page .content .wrapper .welcome .visit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 15px 15px auto;
  transition: 0.3s;
}
.page .content .wrapper .welcome .visit::hover {
  background-color: var(--blue-alt-color);
}
.page .content .wrapper .quick-draft form input[type=text]:focus {
  box-shadow: none;
}
.page .content .wrapper .quick-draft form textarea:focus {
  box-shadow: none;
}
.page .content .wrapper .quick-draft form textarea {
  resize: none;
  min-height: 200px;
}
.page .content .wrapper .quick-draft form input[type=submit] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.page .content .wrapper .targets .target-box .icon {
  width: 80px;
  height: 80px;
  margin-left: 15px;
}
.page .content .wrapper .targets .target-info .progress {
  height: 10px;
}
.page .content .wrapper .tickets-widget .box {
  border: 1px solid #ccc;
  text-align: center;
}
.page .content .wrapper .latest-news .news img {
  width: 100px;
}
.page .content .wrapper .latest-news .news:not(:last-of-type) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.page .content .wrapper .latest-tasks .tasks .task:not(:last-of-type) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.page .content .wrapper .latest-tasks .tasks .task.done {
  opacity: 0.3;
}
.page .content .wrapper .latest-tasks .tasks .task.done p,
.page .content .wrapper .latest-tasks .tasks .task.done span {
  text-decoration: line-through;
}
.page .content .wrapper .latest-uploads .item-upload:not(:last-of-type) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.page .content .wrapper .last-project ul::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  left: 10px;
  background-color: var(--blue-color);
}
.page .content .wrapper .last-project ul li {
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
}
.page .content .wrapper .last-project ul li::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--blue-color);
  border: 1px solid white;
  outline: 1px solid var(--blue-color);
  display: block;
  margin-right: 15px;
}
.page .content .wrapper .reminders ul li {
  position: relative;
  margin-left: 20px;
}
.page .content .wrapper .reminders ul li p {
  font-size: 14px;
}
.page .content .wrapper .reminders ul li span {
  font-size: 12px;
}
.page .content .wrapper .reminders ul li::before {
  content: "";
  position: absolute;
  left: -25px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transform: translateY(-50%);
  top: 50%;
}
.page .content .wrapper .reminders ul li:nth-child(1)::before {
  background-color: var(--blue-color);
}
.page .content .wrapper .reminders ul li:nth-child(2)::before {
  background-color: var(--green-color);
}
.page .content .wrapper .reminders ul li:nth-child(3)::before {
  background-color: var(--orange-color);
}
.page .content .wrapper .reminders ul li:nth-child(4)::before {
  background-color: var(--red-color);
}
.page .content .wrapper .social .box {
  padding: 16px 16px 16px 70px;
}
.page .content .wrapper .social .box:not(:last-of-type) {
  margin-bottom: 10px;
}
.page .content .wrapper .social .box i,
.page .content .wrapper .social .box svg {
  width: 42px;
  height: 100%;
  padding: 0 5px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: 0.3s;
}
.page .content .wrapper .social .box i:hover,
.page .content .wrapper .social .box svg:hover {
  transform: rotate(7deg);
}
.page .content .wrapper .social .box.twitter {
  background-color: rgba(29, 161, 242, 0.2);
  color: #1da1f2;
}
.page .content .wrapper .social .box.twitter i,
.page .content .wrapper .social .box.twitter svg,
.page .content .wrapper .social .box.twitter a {
  background-color: #1da1f2;
}
.page .content .wrapper .social .box.facebook {
  background-color: rgba(24, 119, 242, 0.2);
  color: #1da1f2;
}
.page .content .wrapper .social .box.facebook i,
.page .content .wrapper .social .box.facebook svg,
.page .content .wrapper .social .box.facebook a {
  background-color: #1da1f2;
}
.page .content .wrapper .social .box.youtube {
  background-color: rgba(225, 0, 0, 0.2);
  color: #ff0000;
}
.page .content .wrapper .social .box.youtube i,
.page .content .wrapper .social .box.youtube svg,
.page .content .wrapper .social .box.youtube a {
  background-color: #ff0000;
}
.page .content .wrapper .social .box.linkedin {
  background-color: rgba(0, 119, 181, 0.2);
  color: #0077b5;
}
.page .content .wrapper .social .box.linkedin i,
.page .content .wrapper .social .box.linkedin svg,
.page .content .wrapper .social .box.linkedin a {
  background-color: #0075b5;
}
.page .content .wrapper .social .box span {
  font-size: 14px;
}
.page .content .wrapper .social .box a {
  border-radius: 5px;
  font-size: 12px;
  padding: 2px 4px;
}
.page .content .projects table td {
  padding: 15px;
}
.page .content .projects table thead td {
  background-color: #eee;
  font-weight: bold;
}
.page .content .projects table tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  transition: 0.3s;
}
.page .content .projects table img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
}
.page .content .projects table img:not(:first-of-type) {
  margin-left: -20px;
}/*# sourceMappingURL=main.css.map */